<!-- Navigation here -->
<nav role="navigation" class="main-nav">
 <ul>
    <a href="/">Home</a>
    <a href="/what-how">Better solutions</a>
    <a href="/who">Says who?</a>
    <a href="/connect">Get in touch</a>
 </ul>
</nav>